.tab-header-background
{
    -fx-background-color: wheat;
}

.tab-header-area
{
    -fx-padding: 0 0 0 -5;
}

.tab
{
    -fx-background-radius: 0,0;
    -fx-padding: 0 5 0 10;
    -fx-font-size: 12pt;
    -fx-background-color: darkgray;
}

.tab-pane
{
    -fx-padding: 0 -1 -1 -1;
}

.root
{
    -fx-spacing: 5px;
    -fx-pref-height: 10000px;
    -fx-pref-width: 10000px;

    -fx-background-color: wheat;
}
.text-area
{
    -fx-pref-width: 1000000px;
    -fx-pref-height: 100000000px;

    -fx-control-inner-background: #e2d1b9;
    -fx-border-color: gray;
    -fx-border-width: 2px;

    -fx-effect: null;
}

.text-area:hover
{
    -fx-pref-width: 1000000px;
    -fx-pref-height: 100000000px;

    -fx-control-inner-background: #e2d1b9;
    -fx-border-color: gray;
    -fx-border-width: 2px;

    -fx-effect: null;
}

.text-area:focused
{
    -fx-pref-width: 1000000px;
    -fx-pref-height: 100000000px;

    -fx-control-inner-background: #e2d1b9;
    -fx-border-color: gray;
    -fx-border-width: 2px;

    -fx-effect: null;
}

VBox
{
    -fx-spacing: 5px;
    -fx-padding: 5px;
}

.button
{
    -fx-alignment: center;

    -fx-background-radius: 99,0;
    -fx-background-color: darkgray;
    -fx-min-height: 20px;
    -fx-min-width: 90px;

    -fx-font-family: Cuprum;
    -fx-font-size: 12pt;
}

.button:pressed
{
    -fx-background-radius: 99,0;
    -fx-background-color: coral;
    -fx-min-height: 20px;
    -fx-min-width: 90px;

    -fx-font-family: Cuprum;
    -fx-font-size: 12pt;
}

.button:hover
{
    -fx-background-radius: 99,0;
    -fx-background-color: lightgray;
    -fx-min-height: 20px;
    -fx-min-width: 90px;

    -fx-font-family: Cuprum;
    -fx-font-size: 12pt;
}