.root
{
    -fx-background-color: #282831;
    -fx-spacing: 20px;
}

VBox
{
    -fx-alignment: center;
}

.button
{
    -fx-alignment: center;
    -fx-background-radius: 0,0;
    -fx-background-color: darkgray;
    -fx-pref-height: 10px;
    -fx-pref-width: 150px;

    -fx-font-family: Cuprum;
    -fx-font-size: 18pt;
}

.button:pressed
{
    -fx-background-radius: 0,0;
    -fx-background-color: coral;
    -fx-pref-height: 10px;
    -fx-pref-width: 150px;

    -fx-font-family: Cuprum;
    -fx-font-size: 18pt;
}

.button:hover
{
    -fx-background-radius: 0,0;
    -fx-background-color: lightgray;
    -fx-pref-height: 10px;
    -fx-pref-width: 150px;

    -fx-font-family: Cuprum;
    -fx-font-size: 18pt;
}